h2 p{
    font-size: medium;
}
#Work{
    font-size: small;
}
#Personal{
    font-size: small;
}
#Forward{
    font-size: small;
}
.Dogs{
    font-size: small;
}
p.Swimming{
    font-size: small;
}
p.Golf{
    font-size: small;
}
p.Skiing{
    font-size: small;
}
p.Climbing{
    font-size: small;
}
