body{
    background-color: lavender;
}
h2 p{
    font-size: large;
}
#Work{
    font-size: medium;
}
#Personal{
    font-size: medium;
}
#Forward{
    font-size: medium;
}
.Dogs{
    font-size: medium;
}
p.Swimming{
    font-size: medium;
}
p.Golf{
    font-size: medium;
}
p.Skiing{
    font-size: medium;
}
p.Climbing{
    font-size: medium;
}
.Sports{
    font-size: large;
}
.Why{
    font-size: large;
}
.Worker{
    font-size: medium;
}
.Dedicated{
    font-size: medium;
}
.Learner{
    font-size: medium;
}
.Robinhood{
    font-size: small;
}
.AWS{
    font-size: small;
}
.ICS{
    font-size: small;
}
.NYC{
    font-size: small;
}
#LinkedIn{
    font-size: large;
}
